<section class="container mt-5" >
    <div class="row">
        <div class="col-md-6">
            <div class="give">
                <h5>Give</h5>
                <p class="col-md-10">Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum</p>
                <button class="btn btn-danger">Donate</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="recieve">
                <h5>Give</h5>
                <p class="col-md-10">Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum </p>
                <button class="btn btn-danger find">Find Donors</button>
            </div>
        </div>
    </div>  
</section>
