*
{
    box-sizing: border-box;
}
body
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.give
{
    background-image: url(../../assets/images/1.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 300px;
    float: left;
    overflow: hidden;
    
}
.recieve
{
    background-image: url(../../assets/images/2.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 300px;
    float: right;
    overflow: hidden;
}
.give p
{
    font-size: 15px;
    font-weight: 700;
    margin: auto;
}
.recieve p
{
    font-size: 15px;
    font-weight: 700;
    margin: auto;
}
.give h5
{
    padding-top: 90px;
}
.recieve h5
{
    padding-top: 90px;
}
.btn
{
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #aaa;
    border: 0px;


}
.find
{
    background-color: #fff;
    color: black;
}
/**************************modal part*******************************/
.donner
{
  position: fixed;
  display: none;

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
}
.userRecieve
{
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
}
 i
{
  cursor: pointer;
  color: red;
}



