.spanHead {
  color: red;
}

h2 {
  line-height: 1.5;
}

.spanH {
  font-weight: 600;
}

.give {
  background-image: url(../../assets/images/1.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 500px;
  float: left;
  overflow: hidden;
}

.recieve {
  background-image: url(../../assets/images/2.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 500px;
  float: right;
  overflow: hidden;
}

.give p {
  font-size: 15px;
  font-weight: 700;
  margin: auto;
}

.recieve p {
  font-size: 15px;
  font-weight: 700;
  margin: auto;
}

.give p, .recieve p {
  font-size: 17px;
  font-weight: 400;
  font-style: italic;
}

.give h5, .recieve h5 {
  padding-top: 90px;
}

.btn {
  border-radius: 15px;
  width: 150px;
  height: 45px;
  -webkit-box-shadow: 5px 2px 5px 2px #aaa;
          box-shadow: 5px 2px 5px 2px #aaa;
  border: 0px;
}

.find:hover {
  background-color: #fc575e;
  color: white;
}

.donateBTN:hover {
  background-color: white;
  color: black;
}

.find {
  background-color: #fff;
  color: black;
}

/**************************modal part*******************************/
.donner {
  position: absolute;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(../../assets/images/city.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
  display: none;
  top: 0;
  right: 0;
  left: 0;
}

.overLayDR {
  background-color: rgba(0, 0, 0, 0.4);
}

.userRecieve {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(../../assets/images/city.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: auto;
}

input {
  -webkit-box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.1);
}

/*showDeialsDonaite*/
.userRecieve .show .hospitalReciver img, .donner .showDonate .hospitalDonation img {
  height: 100px !important;
  width: 100px !important;
}

.donner .showDonate .hospitalDonation span, .userRecieve .show .hospitalReciver span {
  color: red;
  cursor: pointer;
}

.donner #closeDonner {
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 5%;
}

.userRecieve #closeRecieve {
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 5%;
}

.userRecieve .show img, .donner .showDonate .showDeialsDonation img {
  width: 700px !important;
  height: 300px !important;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.userRecieve i {
  cursor: pointer;
}

.contanctHospital i {
  font-size: 25px;
  border-radius: 20px;
  border: 1px solid gray;
  padding: 8px;
  color: red;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.contanctHospital i:hover {
  background-color: red;
  color: white;
  border: none;
}

.contanctHospital .contactSpan {
  font-size: 20px;
  font-weight: 500;
}

.heading, .section-heading, .section-subheading {
  letter-spacing: 0.03em;
  color: #444;
  margin: 0;
  padding: 0;
}

.section-heading {
  position: relative;
  font-size: 42px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.section-subheading {
  font-size: 22px;
  line-height: 32px;
  font-weight: 200;
}

.campBanner {
  background-image: url("./../../assets/images/cta_red_bg.png");
  background-size: cover;
  width: 100%;
  height: 350px;
}

.campBanner h2 {
  position: relative;
  font-size: 42px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.campBanner p {
  font-size: 18px;
}
/*# sourceMappingURL=my-services.component.css.map */