.heading, .section-heading, .section-subheading {
  letter-spacing: 0.03em;
  color: #444;
  margin: 0;
  padding: 0;
}

.section-heading {
  position: relative;
  font-size: 42px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.section-subheading {
  font-size: 22px;
  line-height: 32px;
  font-weight: 200;
}

h1 {
  font-family: "Oswald";
  font-size: 50px;
  text-align: center;
  padding-top: 15px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0 50px;
}

.events .event-card {
  display: inline-block;
  background: white;
  width: 450px;
  margin: 20px;
  cursor: default;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.9);
}

.events .event-card:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}

.events .event-card img {
  width: 100%;
  height: 250px;
  border-radius: 2px 2px 0 0;
}

.events .event-card .description {
  padding: 5px 15px 15px;
}

.events .event-card .description h3 {
  padding-bottom: 5px;
  font-size: 26px;
}

.events .event-card .description .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 10px;
}

.events .event-card .description .controls a {
  color: black;
  cursor: pointer;
  font-size: 20px;
  width: 20%;
  text-align: center;
  padding: 2px;
}

.events .event-card .description .controls a:hover {
  background-color: #ddd;
  border-radius: 20px;
}

.events .event-card .description .location {
  font-size: 18px;
}

.events .event-card .description .location:before {
  font-family: "FontAwesome";
  content: "";
  display: inline-block;
  height: 18px;
  margin-right: 8px;
}

#stack1 {
  min-height: 100vh;
}

.card1 {
  left: 50%;
  margin-left: -13em;
  z-index: 10;
  transform: rotateZ(-3deg);
  -moz-transform: rotateZ(-3deg);
  -webkit-transform: rotateZ(-3deg);
  -webkit-transition: all 0.5s ease-out 0.3s;
  transition: all 0.5s ease-out 0.3s;
}

.card2 {
  left: 50%;
  margin-left: -12em;
  z-index: 9;
  -webkit-transition: all 0.5s ease-out 0.15s;
  transition: all 0.5s ease-out 0.15s;
}

.card3 {
  left: 50%;
  margin-left: -11em;
  z-index: 8;
  transform: rotateZ(3deg);
  -webkit-transform: rotateZ(3deg);
  -moz-transform: rotateZ(3deg);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.start .card {
  left: -100%;
  opacity: 0;
  transform: rotateZ(0deg);
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
}

.card-container {
  position: relative;
  width: 18em;
  margin: 4em auto;
}

.card {
  position: absolute;
  top: 0;
  background: #fff;
  -webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.65);
          box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.65);
  border-radius: 0em;
  padding: 2em;
  width: 20em;
  max-width: 20em;
  -webkit-backface-visibility: hidden;
}

.card a {
  margin: 0em -2em;
  display: block;
  width: 120%;
  max-width: 24em;
  position: relative;
  line-height: 1em;
}

.card a:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.card h1 {
  margin-top: 0;
}

.card p {
  line-height: 1.75em;
  margin-bottom: 0;
}

.card-container:hover .card,
.card-container.hover .card {
  opacity: 0.9;
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  margin-left: -12em;
}

.card-container:hover .card:hover, .card-container:hover .card.hover,
.card-container.hover .card:hover,
.card-container.hover .card.hover {
  opacity: 1;
  z-index: 11;
  transform: scale(1);
  -webkit-transform: scale(1);
}

.card-container:hover .card1,
.card-container.hover .card1 {
  transform: rotateZ(0deg) scale(0.95);
  -webkit-transform: rotateZ(0deg) scale(0.95);
}

.card-container:hover .card2,
.card-container.hover .card2 {
  left: 0%;
}

.card-container:hover .card3,
.card-container.hover .card3 {
  left: 100%;
}

img {
  max-width: 100%;
}

@media (min-width: 880px) {
  body {
    font-size: 0.9em;
  }
  .card-container {
    width: 24em;
  }
}

@media (min-width: 1075px) {
  body {
    font-size: 1.1em;
  }
  .card-container {
    width: 38em;
  }
}

@media (max-height: 550px) {
  body {
    font-size: 0.8em;
  }
  .card-container {
    width: 24em;
  }
}

.campBanner {
  background-image: url("./../../assets/images/cta_red_bg.png");
  background-size: cover;
  width: 100%;
  height: 350px;
}

.btnVolunter {
  background: #ffffff !important;
  color: #fe3c47 !important;
  border: 2px solid #fe3c47 !important;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.btnVolunter:hover {
  color: white !important;
  background: #fe3c47 !important;
  border: 2px solid #fff !important;
}

.imgEvent {
  width: 40%;
  background-image: cover;
}

/* form */
.form-popup-bg1, .form-popup-bg2, .form-popup-bg3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-popup-bg1, .form-popup-bg2, .form-popup-bg3 {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fe3c47;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  overflow-y: auto;
  z-index: 10000;
}

.form-popup-bg1.is-visible, .form-popup-bg2.is-visible, .form-popup-bg3.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.form-container {
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 40px;
  color: #fff;
}

.close-button {
  color: #fe3c47;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  border: solid 1px #fff;
}

.form-popup-bg1:before, .form-popup-bg2:before, .form-popup-bg3:before {
  content: '';
  background-color: #fff;
  opacity: .25;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/*# sourceMappingURL=camps.component.css.map */