@charset "UTF-8";
.heading, .section-heading, .section-subheading {
  letter-spacing: 0.03em;
  color: #444;
  margin: 0;
  padding: 0;
}

.section-heading {
  position: relative;
  font-size: 42px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.section-subheading {
  font-size: 22px;
  line-height: 32px;
  font-weight: 200;
}

body:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.7;
  background-image: url("https://unsplash.it/g/1920/1080?image=685&blur&gravity=center");
  background-size: cover;
}

h1 {
  font-family: "Oswald";
  font-size: 50px;
  text-align: center;
  padding-top: 15px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
}

.add-event-section {
  position: fixed;
  right: 50px;
  bottom: 120px;
}

.add-event-section a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  display: block;
  visibility: hidden;
  opacity: 0;
  margin: 0;
  text-align: right;
  background-color: white;
  padding: 5px 15px 5px 30px;
  border-radius: 20px;
  position: relative;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
  font-size: 17px;
  z-index: 4;
}

.add-event-section a:hover {
  background-color: rgba(150, 210, 255, 0.9);
}

.add-event-section a:before {
  font-family: "FontAwesome";
  position: absolute;
  left: 10px;
  top: 9px;
}

.add-event-section #upload:before {
  content: "";
}

.add-event-section #add:before {
  content: "";
}

.add-event-section input[type="checkbox"] {
  display: none;
}

.add-event-section input[type="checkbox"]:checked ~ .floating-action-button {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.add-event-section input[type="checkbox"]:checked ~ .floating-action-button:hover {
  -webkit-transform: rotate(45deg) scale(1.05);
  transform: rotate(45deg) scale(1.05);
}

.add-event-section input[type="checkbox"]:checked ~ a {
  visibility: visible;
  opacity: 1;
  margin: 25px 0;
}

.add-event-section input[type="checkbox"]:checked ~ #backdrop {
  opacity: 0.65;
  visibility: visible;
}

.add-event-section .floating-action-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: block;
  width: 70px;
  z-index: 100;
  height: 70px;
  border-radius: 50%;
  background-color: #146eff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  line-height: 70px;
  text-align: center;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.add-event-section .floating-action-button:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.add-event-section .floating-action-button i {
  -webkit-transition: -webkit-transform 100ms linear;
  transition: -webkit-transform 100ms linear;
  transition: transform 100ms linear;
  transition: transform 100ms linear, -webkit-transform 100ms linear;
}

.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0 50px;
}

.events .event-card {
  display: inline-block;
  background: white;
  width: 450px;
  margin: 20px;
  cursor: default;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.9);
}

.events .event-card:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}

.events .event-card img {
  width: 100%;
  height: 250px;
  border-radius: 2px 2px 0 0;
}

.events .event-card .description {
  padding: 5px 15px 15px;
}

.events .event-card .description h3 {
  padding-bottom: 5px;
  font-size: 26px;
}

.events .event-card .description .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 10px;
}

.events .event-card .description .controls a {
  color: black;
  cursor: pointer;
  font-size: 20px;
  width: 20%;
  text-align: center;
  padding: 2px;
}

.events .event-card .description .controls a:hover {
  background-color: #ddd;
  border-radius: 20px;
}

.events .event-card .description .location {
  font-size: 18px;
}

.events .event-card .description .location:before {
  font-family: "FontAwesome";
  content: "";
  display: inline-block;
  height: 18px;
  margin-right: 8px;
}
/*# sourceMappingURL=camps.component.css.map */