$background-main : #f0f4f5;
$headers : #333447;
$words : #919191;



#about-us
{
    background-color: $background-main;
}

#about-us h2
{
    color: $headers;
    line-height: 1.25;
    text-transform: uppercase;
}

#about-us p
{
    color: $words;
}
