<!--<section class="py-5 my-5 " id="About">
    <div class="container">

      <h2 class="text-center mb-4">About Us</h2>

      <div class="row">
        <div class="col-md-4 ">
          <div class="aboutImg">
            <img src="../assets/images/about-us.jpg" alt="about-us">
            <div class="overLayAbout">
              <div class="overLayDesc">
                <p>Lorem ipsum dolor sit amet.</p>
                <h6>hello</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 offset-md-2 ">
         <div class="aboutCaption">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Ratione quidem voluptate praesentium, sunt quos
            enim quod illum aliquam dolorem iusto repellendus assumenda
             ut in consequatur vel obcaecati molestias facilis amet. Lorem
              ipsum dolor sit amet consectetur adipisicing elit. Et, facere
              reiciendis excepturi omnis neque corporis quisquam aliquam est
               ipsa perferendis quam odio dolores! Voluptate reprehenderit pe
               rferendis nihil quisquam aliquid possimus.</p>
         </div>
        </div>
      </div>

    </div>
  </section>-->
  <section id="About" class="my-5 text-center">
    <div class="container">
      <h2 class="text-center text-danger mb-5 ">About Us</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="aboutImg">
            <img src="../../assets/images/hush-naidoo-Zp7ebyti3MU-unsplash.jpg" class="img-fluid" alt="about-us">
            <div class="overLayAbout">
              <div class="overLayDesc">
                <h6 class="text-danger">Lorem, ipsum dolor.</h6>
                <p class=""> Lorem ipsum dolor sit ametanditiis similique!</p>

              </div>
            </div>
            </div>


        </div>
        <div class="col-md-6">

          <p><span>This</span> ipsum, dolor sit amet consectetur adipisicing elit. Aperiam error tempora modi, quis in odit provident pariatur dolorum? Unde, quas eos? Neque at sequi quae aspernatur excepturi aliquam non molestias reprehenderit beatae eaque pariatur veritatis quidem perferendis p
            piciatis provident consequuntur reiciendis, fugiat nisi nihil praesentium nemo libero aut culpa qui.</p>
           <div class="contactUs mt-5">
              <p class="text-left ml-2">Contact us in socialMedia :</p>

                   <i class="fab fa-facebook-f mr-4 p-2  "></i>

                  <i class="fab fa-twitter mr-4 p-2 "></i>
                  <a href=""><i class="fas fa-envelope mr-4 p-2"></i></a>
                  <a href=""><i class="fab fa-instagram-square p-2"></i></a>


            </div>


        </div>
      </div>
    </div>
  </section>

  <app-gallery></app-gallery>

  <app-contact-us></app-contact-us>


