<section id="login" class="py-5">
 <div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="LoginPhoto">
        <img src="../../assets/images/user.jpg" alt="" class="loginIcon rounded-circle w-50">



      </div>
    </div>
    <div class="col-md-6">
      <div class="LoginInp form mt-5"><!--(click)='onClickInp()'-->

        <input type="email" class="w-100 form-control mb-4 ml-5"  placeholder="enter your Email..">

        <input type="password" class="w-100 form-control ml-5 mb-4" placeholder="enter your password">

        <button class="btn btn-danger ml-5 py-2 text-center mt-2 mb-2 w-100">login</button>
        <p class="text-white ml-5"> forget UserName/Password?</p>
        <p class="mt-5 text-white ml-5"> Create an account <i class="fas fa-long-arrow-alt-right"></i></p>
      </div>
    </div>
  </div>

 </div>
</section>



