<section id="receiver" class="py-5 text-white">
  <div class="container form-receiver">
    <form [formGroup]="signUp" (ngSubmit)=" signUp.valid && FormSignUp()" >
        <div class="form-group row pt-3">
            <label  class="col-sm-3 col-form-label">Full Name</label>
            <div class="col-sm-9 ">
              <input [class.is-valid]="signUp.controls.full_name.status=='VALID'" type="text" class="form-control" formControlName="full_name"   placeholder="ex:ahmed" >
              <div *ngIf="signUp.controls.full_name.errors && signUp.controls.full_name.touched" class="alert alert-danger  mt-3"role="alert">
                please enter your name
              </div>
            </div>
          </div>
        <div class="form-group row">
            <label  class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
              <input type="email" [class.is-valid]="signUp.controls.email.status=='VALID'" class="form-control" formControlName="email"  placeholder="ex:x@y.com" >
              <div *ngIf="signUp.controls.email.errors && signUp.controls.email.touched" class="alert alert-danger  mt-3"role="alert">
               make sure your email is true
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label  class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
              <input type="password" [class.is-valid]="signUp.controls.password.status=='VALID'" class="form-control" formControlName="password"  placeholder="ex:fslk#65d" >
              <div *ngIf="signUp.controls.password.errors && signUp.controls.password.touched" class="alert alert-danger  mt-3"role="alert">
                password start with...
               </div>
            </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-3 col-form-label">Confirm Password*</label>
              <div class="col-sm-9">
                <input type="password" [class.is-valid]="signUp.controls.confirm_pass.status=='VALID'" class="form-control" formControlName="confirm_pass"   placeholder="make sure they are matched" >
                <div *ngIf="signUp.controls.confirm_pass.errors && signUp.controls.confirm_pass.touched" class="alert alert-danger  mt-3"role="alert">
                  the password dosnot match ...
                 </div>
              </div>
            </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Mobile Number</label>
            <div class="col-sm-9">
              <input type="text"[class.is-valid]="signUp.controls.mobile.status=='VALID'" class="form-control" formControlName="mobile"  placeholder="ex:01265454">
              <div *ngIf="signUp.controls.mobile.errors && signUp.controls.mobile.touched" class="alert alert-danger  mt-3"role="alert">
            </div>
          </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Age</label>
            <div class="col-sm-9">
              <input type="text" [class.is-valid]="signUp.controls.age.status=='VALID'" class="form-control" formControlName="age"  placeholder="ex:day/month/year">
              <div *ngIf="signUp.controls.age.errors && signUp.controls.age.touched" class="alert alert-danger  mt-3"role="alert">
                please enter your  Age..
            </div>
          </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Blood Type</label>
            <div class="col-sm-9">
              <input type="text" [class.is-valid]="signUp.controls.Blood_type.status=='VALID'" class="form-control" formControlName="Blood_type"  placeholder="ex:A+">
              <div *ngIf="signUp.controls.Blood_type.errors && signUp.controls.Blood_type.touched" class="alert alert-danger  mt-3"role="alert">
                        please enter your bloodType..
              </div>
            </div>
          </div>
            <div class="text-center ml-5 mt-3">
              <button type="submit" [disabled]="signUp.invalid" [ngStyle]="signUp.invalid? {'background-color':'transparent' , 'border' : '1px solid gray'} : {'background-color':'red'  , 'border' : 'none'}" class="btn btn-primary mt-3 px-3 float-right "  >Sign Up</button>
            </div>
            <div class="clearfix"></div>
      </form>
    </div>
    </section>