<app-nav-bar></app-nav-bar>

<app-about-us></app-about-us>

<app-contact-us></app-contact-us>



<div class="gallery-wrap py-5">
  <div class="item item-1"></div>
  <div class="item item-2"></div>
  <div class="item item-3"></div>
  <div class="item item-4"></div>
  <div class="item item-5"></div>
</div>

<div class="alert alert-primary alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <strong>Remove my div and put give and recive section</strong>
</div>



