<section class="container">
    <fieldset class="donor">
        <legend>Donor Sign-Up</legend>
        <form>
            <div class="form-group">
            <label for="formGroupExampleInput">Full Name :</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Full Name">
            </div>
            <div class="form-group">
            <label for="formGroupExampleInput2">Email :</label>
            <input type="email" class="form-control" id="formGroupExampleInput2" placeholder="Enter Email ">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Password :</label>
                <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Re-Enter Password :</label>
                <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Re-Enter Password">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Phone Number :</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Phone Number">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">National ID :</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="National ID">
            </div>
           <div class="row ">
            <div class="form-group col-md-6 d-inline">
                <label for="inputState">Blood Type</label>
                <select id="inputState" class="form-control ">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
              <div class="form-group col-md-6 d-inline">
                <label for="inputState">Age</label>
                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
           </div>
           <div class="row ">
            <div class="form-group col-md-6 d-inline">
                <label for="inputState">Country</label>
                <select id="inputState" class="form-control ">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
              <div class="form-group col-md-6 d-inline">
                <label for="inputState">Gavernorate</label>
                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
           </div>

           <div class="row ">
            <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                <label class="form-check-label" for="gridRadios1">
                  Male
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                <label class="form-check-label" for="gridRadios2">
                  Female
                </label>
              </div>
            </div>
          </div>
        </form>
    </fieldset>
</section>