<!--<nav class="navbar navbar-expand-md navbar-dark   mainNav position-fixed py-3">
    <a class="navbar-brand ml-5 logo " href="#">BloodBank</a>
   <div class="container">


    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item active mr-4">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active mr-4">
          <a class="nav-link"  href="#" >About</a>
        </li>
        <li class="nav-item active mr-4">
          <a class="nav-link"  href="#">Gallary</a>
        </li>
        <li class="nav-item active mr-4">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item active mr-4" >
          <a class="nav-link"  href="#">Contacts</a>
        </li>
        <li class="nav-item dropdown active ">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
        </li>
      </ul>
    </div>
    </div>
</nav>-->
<nav class="navbar navbar-expand-md fixed-top mainNav py-3">
   <a class="navbar-brand"><img src="../../assets/images/logo.jpg" class=" rounded-circle ml-3"></a>
    <span class="navbar-text ">BloodBank</span>


 <div class="container">
   <button class="navbar-toggler"  data-toggle="collapse" data-target="#collapse_target" >
  <span class="navbar-toggler-icon"></span>
  </button>

<div class="collapse navbar-collapse" id="collapse_target">


      <ul class="navbar-nav ml-auto">
      <li class=" nav-item">
        <a class="nav-link" href="#">Home </a>
      </li>
      <li class=" nav-item">
        <a class="nav-link" href="#">About
        </a>
      </li>
      <li class=" nav-item">
        <a class="nav-link" href="#">Gallary</a>
      </li>
      <li class=" nav-item">
        <a class="nav-link" href="#">Services</a>
      </li>

      <li class=" nav-item">
        <a class="nav-link" href="#">Contacts</a>
      </li>

      <li class="nav-item dropdown  ">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"  data-target="login_target" >
        Sign <span class="caret"></span></a>
        <div class="dropdown-menu" aria-labelledby="login_target">

            <a class="dropdown-item">SignUp</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"> signIN</a>



          </div>
      </li>

    </ul>

</div>
</div>
</nav>





