
<nav class="navbar navbar-expand-md mainNav py-3">
   <a class="navbar-brand"><img src="../../assets/images/logo.jpg" class=" rounded-circle ml-3"></a>
    <span class="navbar-text ">BloodBank</span>


 <div class="container">
   <button class="navbar-toggler"  data-toggle="collapse" data-target="#collapse_target" >
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end pr-5 mr-5  " id="navbarTogglerDemo05">
    <ul class="navbar-nav ml-auto">
      <li class=" nav-item">
        <a class="nav-link "routerLink="/home">Home </a>
      </li>
      <li class=" nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class=" nav-item">
        <a class="nav-link" routerLink="/camps">Camps</a>
      </li>
      <li class=" nav-item">
        <a class="nav-link" routerLink="/services">Services</a>
      </li>
      <li class="nav-item dropdown  ">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"  data-target="login_target" >
        Sign <span class="caret"></span></a>
        <div class="dropdown-menu" aria-labelledby="login_target">
            <a class="dropdown-item" routerLink ="/sign-up">Sign Up</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink ="/sign-in" >Sign In</a>
          </div>
      </li>
    </ul>
  </div>
  </div>
</nav>



