.mainNav
{
  background-color: rgb(127,0,1);
  // width: 100%;
  // z-index: 111;
  // height: 7vh;
  color: white;
}
nav .logo
{
  cursor:initial;
} 
nav ul li a:hover
{
  // font-size: 20px;
  color: brown;
  // text-transform: uppercase;

}



nav .dropdown-item
{
  cursor: pointer;
}

nav ul li .nav-link , nav .navbar-text
{
  color: white;
}
nav a img{
  width: 30px;
  height: 30px;
}
